@charset "utf-8";
/* CSS Document */


*{
	font-family: 'VT323', monospace;
	box-sizing:border-box;
	color:#def4fc;
	letter-spacing: 1.5px;
    line-height: 1.15;
	vertical-align:top;
	}
.lora{
	font-family: 'Press Start 2P', cursive;
	}
.title-size {
    font-weight: 900;
	color:white;
	margin-top: 5px !important;
	font-size: 27px;
}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.hover-effect{
	cursor:pointer;
	transition:.15s ease-in-out;
	}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.transparent-button{
	background-color:transparent;
	border:0;}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: #eaa2ae;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #dc788e;
  text-decoration: none;
  cursor: pointer;
}	
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.footer-p {
    font-size: 16px;
	margin: 0;
}
.footer-div {
    padding-top: 2px;
    padding-bottom: 2px;
}	
.logo {
    width: 140px;
}
.top-p {
    width: 70%;
    margin: auto;
    margin-top: 22px;
	text-align: justify;
    text-align-last: center;
	color:black;
}
.p-size {
    font-size: 22px;
}
.light-blue-gradient{
	background: rgb(175,221,243);
	background: linear-gradient(0deg, rgba(175,221,243,0) 0%, rgba(175,221,243,0.8) 100%);}
.top-div {
    padding-top: 35px;
    padding-bottom: 50px;
background: linear-gradient( 
0deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 60%) 30%);
}
.left1-div {
    float: left;
    width: 45%;
	text-align:center;
}
.right1-div {
    float: right;
    width: 45%;
}
.left1-img {
    width: 65%;}
.second-div{
	margin-top:50px;
    overflow: hidden;
	margin-bottom: 25px;}
.title1 {
    margin-top: 0;
}
.i-img {
    width: 20px;
}
.first-table {
    width: 100%;
}
.td1 {
    width: 30px;
	padding-top: 5px;
}
.first-table td {
    padding-bottom: 5px;
}
.right-p {
    text-align: justify;
}
.left-cube {
    width: 80px;
}
.cube-img{
	width:120px;}
.third-div {
    padding-top: 30px;
}
.title2 {
    margin-top: 0;
}
.cube-p {
    margin-bottom: 0;
}
.third-div2 {
    display: inline-flex;
	padding-top: 15px;
    padding-bottom: 0px;
}
.three-div-css {
    text-align: center;
	margin: 0 1.55%;
    width: 30%;
    padding: 15px;
}
.blueshadow-box{
	box-shadow: 0 0 10px -3px rgba(29,170,223,0.35);
	-webkit-box-shadow: 0 0 10px -3px rgba(29,170,223,0.35);
	-moz-box-shadow: 0 0 10px -3px rgba(29,170,223,0.35);
	border-radius:10px;
	background-color: #ffffff1c;
    backdrop-filter: blur(5px);}
.three-div-p {
    text-align: justify;
    text-align-last: center;
}
.subtitle-size {
    font-size: 30px;
}
.icon-png {
    width: 25%;
}
.right-cube-ow{
	float:right !important;}
.cube-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.below-h1-p {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 30px;
	text-align-last:center;
}
.light-blue-link {
    color: #6bd7ff;
}
.light-blue-link:hover {
    color: #49cdff;
}
.two-div-a{
	width:47.5%;
	margin-left: 1.25%;
    margin-right: 1.25%;}
.two-div-css {
    text-align: center;
}
.two-icon-png{
	width:15%;}
.two-div-css {
    text-align: center;
    padding: 30px 20px;
}
.shadow-hover:hover{
    box-shadow: 0 0 10px -3px rgb(29 170 223 / 65%);
    -webkit-box-shadow: 0 0 10px -3px rgb(29 170 223 / 65%);
    -moz-box-shadow: 0 0 10px -3px rgba(29,170,223,0.65);
}
.footer-bg{
	background: rgb(0,184,255);
background: radial-gradient(circle, rgba(0,184,255,1) 0%, rgba(0,72,188,1) 100%);}
.left-div {
    float: left;
    width: 45%;
}
.right-div{
	float:right;
	width:45%;}
.left-cube-div {
    width: 110px;
    float: left;
}
.right-text-div1 {
    float: left;
    width: calc(100% - 120px);
}
.title3 {
    text-align: left;
    padding-left: 30px;
    margin: 0;
}
.margin-top0{
	margin-top:0;}
.tech-div {
    padding-top: 75px;
    padding-bottom: 25px;
}
.table-div {
    padding-top: 20px;
    padding-bottom: 20px;
}
.table2 {
    width: 100%;
}
.number-td {
    width: 30px;
    color: #dbdbdb;
    font-size: 24px;
}
/*Start */
.big-scroll-div{
	background-image:url(../img/galaxy.jpg);
	background-position:center;
	background-size:cover;
	height:100vh;
	width:100%;
	position:fixed;
	z-index:-99999;}
.five-div-css {
    text-align: center;
    display: inline-block;
    width: 17%;
	margin-right: calc(3% - 3px);}
.last-five-div{
	margin-right:0;}
.five-img {
    width: 80%;
}
.margin-bottom30{
	margin-bottom:30px;}
.five-div-css p{
	text-align:center !important;}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99999;
  background-color: black;
}
.top-index{
	z-index:99;
	overflow:hidden;}
.stars {
  background: black url(../img/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
.stars2 {
  background: black url(../img/starry2.jpg) ;
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
  background-position: right;
}
.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("../img/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
width: 200%;
    height: 100%;
    background: transparent url(../img/clouds2.png);
    background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
  opacity: 0.35;
}

.imgmoon {
    height: auto;
    width: 250px;
    position: absolute;
    z-index: 3;
    right: -90px;
    top: -90px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 230px 1144px #FFF , 1391px 1851px #FFF , 229px 449px #FFF , 68px 382px #FFF , 1172px 426px #FFF , 1713px 668px #FFF , 1392px 1356px #FFF , 1298px 1244px #FFF , 69px 1600px #FFF , 170px 1595px #FFF , 1942px 1288px #FFF , 872px 1500px #FFF , 927px 1969px #FFF , 779px 726px #FFF , 20px 377px #FFF , 749px 909px #FFF , 1364px 623px #FFF , 207px 245px #FFF , 1464px 1993px #FFF , 505px 1529px #FFF , 860px 1809px #FFF , 1493px 898px #FFF , 1726px 833px #FFF , 948px 1394px #FFF , 1956px 1994px #FFF , 1633px 1882px #FFF , 1932px 195px #FFF , 1522px 74px #FFF , 621px 482px #FFF , 840px 96px #FFF , 842px 33px #FFF , 1616px 535px #FFF , 1831px 1477px #FFF , 667px 831px #FFF , 1641px 1159px #FFF , 726px 435px #FFF , 1908px 431px #FFF , 538px 859px #FFF , 636px 1706px #FFF , 1524px 730px #FFF , 1323px 560px #FFF , 376px 447px #FFF , 1247px 825px #FFF , 1340px 1259px #FFF , 387px 726px #FFF , 1586px 60px #FFF , 174px 1872px #FFF , 1820px 1253px #FFF , 1268px 620px #FFF , 1352px 9px #FFF , 1578px 606px #FFF , 394px 165px #FFF , 95px 418px #FFF , 402px 235px #FFF , 669px 32px #FFF , 1528px 915px #FFF , 490px 1668px #FFF , 1669px 94px #FFF , 865px 1044px #FFF , 1167px 1731px #FFF , 1722px 1357px #FFF , 944px 1972px #FFF , 184px 648px #FFF , 1943px 1081px #FFF , 254px 58px #FFF , 631px 1558px #FFF , 157px 1967px #FFF , 1873px 1415px #FFF , 265px 616px #FFF , 1034px 23px #FFF , 1203px 1099px #FFF , 754px 1458px #FFF , 2000px 1102px #FFF , 986px 804px #FFF , 672px 1700px #FFF , 559px 976px #FFF , 1848px 391px #FFF , 810px 1595px #FFF , 284px 100px #FFF , 792px 857px #FFF , 1277px 615px #FFF , 842px 333px #FFF , 1546px 1440px #FFF , 1906px 1105px #FFF , 530px 788px #FFF , 1017px 246px #FFF , 1058px 1439px #FFF , 992px 141px #FFF , 623px 1994px #FFF , 186px 505px #FFF , 888px 947px #FFF , 677px 938px #FFF , 1595px 1510px #FFF , 1641px 1539px #FFF , 1087px 661px #FFF , 773px 1017px #FFF , 1671px 1390px #FFF , 23px 967px #FFF , 1897px 556px #FFF , 1172px 697px #FFF , 585px 1031px #FFF , 779px 179px #FFF , 1581px 487px #FFF , 1227px 179px #FFF , 1529px 348px #FFF , 1572px 832px #FFF , 532px 806px #FFF , 458px 1707px #FFF , 785px 1205px #FFF , 887px 776px #FFF , 1574px 851px #FFF , 1335px 1421px #FFF , 1539px 1532px #FFF , 1790px 1997px #FFF , 518px 1305px #FFF , 181px 1501px #FFF , 170px 1088px #FFF , 1930px 834px #FFF , 1818px 1471px #FFF , 508px 503px #FFF , 1492px 310px #FFF , 129px 1684px #FFF , 1185px 138px #FFF , 44px 1182px #FFF , 263px 1823px #FFF , 1279px 1090px #FFF , 623px 1344px #FFF , 1762px 479px #FFF , 1592px 812px #FFF , 528px 1586px #FFF , 718px 167px #FFF , 1340px 1979px #FFF , 1198px 1222px #FFF , 945px 1149px #FFF , 1923px 1323px #FFF , 1602px 1942px #FFF , 217px 729px #FFF , 1282px 1033px #FFF , 1203px 1064px #FFF , 647px 1707px #FFF , 1991px 822px #FFF , 1193px 687px #FFF , 1873px 1260px #FFF , 1935px 807px #FFF , 1806px 62px #FFF , 395px 370px #FFF , 649px 1646px #FFF , 634px 538px #FFF , 1789px 1467px #FFF , 1209px 1779px #FFF , 1075px 1828px #FFF , 619px 806px #FFF , 477px 638px #FFF , 957px 764px #FFF , 636px 1981px #FFF , 32px 1487px #FFF , 1367px 265px #FFF , 510px 563px #FFF , 236px 1860px #FFF , 909px 202px #FFF , 461px 1114px #FFF , 1568px 697px #FFF , 110px 1672px #FFF , 1786px 1301px #FFF , 449px 634px #FFF , 569px 702px #FFF , 304px 906px #FFF , 1115px 40px #FFF , 1778px 1859px #FFF , 1113px 1846px #FFF , 497px 17px #FFF , 1714px 348px #FFF , 577px 1878px #FFF , 95px 798px #FFF , 478px 1683px #FFF , 887px 1289px #FFF , 1129px 14px #FFF , 188px 369px #FFF , 1360px 64px #FFF , 920px 625px #FFF , 1870px 1941px #FFF , 819px 1095px #FFF , 1680px 677px #FFF , 307px 766px #FFF , 1685px 1583px #FFF , 1317px 1512px #FFF , 1583px 1524px #FFF , 1480px 1128px #FFF , 798px 988px #FFF , 531px 362px #FFF , 205px 243px #FFF , 525px 511px #FFF , 1541px 1603px #FFF , 463px 197px #FFF , 1704px 923px #FFF , 586px 1683px #FFF , 963px 1495px #FFF , 274px 1364px #FFF , 1366px 1121px #FFF , 1567px 96px #FFF , 1943px 1426px #FFF , 7px 1458px #FFF , 322px 1045px #FFF , 324px 524px #FFF , 408px 1174px #FFF , 1154px 1310px #FFF , 1362px 765px #FFF , 266px 106px #FFF , 25px 1475px #FFF , 596px 1027px #FFF , 280px 1093px #FFF , 642px 366px #FFF , 644px 1383px #FFF , 350px 1399px #FFF , 1373px 613px #FFF , 480px 1098px #FFF , 1738px 1987px #FFF , 781px 1749px #FFF , 337px 457px #FFF , 1505px 1239px #FFF , 709px 1529px #FFF , 1198px 232px #FFF , 274px 1928px #FFF , 1657px 545px #FFF , 1092px 1008px #FFF , 590px 1537px #FFF , 728px 1438px #FFF , 1452px 1580px #FFF , 672px 1742px #FFF , 1633px 1191px #FFF , 1443px 539px #FFF , 929px 346px #FFF , 1866px 699px #FFF , 1458px 343px #FFF , 799px 1163px #FFF , 1224px 1808px #FFF , 716px 1821px #FFF , 1476px 1452px #FFF , 829px 1744px #FFF , 845px 300px #FFF , 1294px 1379px #FFF , 199px 53px #FFF , 353px 19px #FFF , 713px 256px #FFF , 51px 1644px #FFF , 38px 1410px #FFF , 246px 957px #FFF , 1335px 397px #FFF , 8px 1093px #FFF , 1059px 1463px #FFF , 37px 695px #FFF , 206px 301px #FFF , 1375px 56px #FFF , 321px 860px #FFF , 265px 1743px #FFF , 380px 202px #FFF , 1018px 79px #FFF , 51px 1984px #FFF , 868px 127px #FFF , 1089px 967px #FFF , 1911px 1989px #FFF , 1515px 936px #FFF , 624px 1474px #FFF , 1871px 70px #FFF , 1288px 484px #FFF , 1129px 1145px #FFF , 783px 1020px #FFF , 1662px 1669px #FFF , 725px 1098px #FFF , 972px 511px #FFF , 138px 1479px #FFF , 72px 832px #FFF , 411px 1860px #FFF , 853px 941px #FFF , 1214px 769px #FFF , 60px 1948px #FFF , 1490px 32px #FFF , 1850px 1110px #FFF , 1950px 1186px #FFF , 787px 1482px #FFF , 797px 198px #FFF , 182px 665px #FFF , 1434px 1700px #FFF , 712px 125px #FFF , 1656px 872px #FFF , 1966px 1333px #FFF , 988px 1367px #FFF , 671px 1191px #FFF , 1874px 1399px #FFF , 1895px 1964px #FFF , 762px 1362px #FFF , 1410px 1482px #FFF , 1704px 45px #FFF , 1873px 1460px #FFF , 289px 1163px #FFF , 618px 1041px #FFF , 1546px 739px #FFF , 625px 1852px #FFF , 1138px 1180px #FFF , 91px 1752px #FFF , 1812px 1259px #FFF , 793px 1468px #FFF , 238px 1526px #FFF , 1285px 1492px #FFF , 1490px 517px #FFF , 1064px 1691px #FFF , 1764px 931px #FFF , 739px 1395px #FFF , 1552px 1811px #FFF , 243px 545px #FFF , 17px 889px #FFF , 821px 345px #FFF , 1439px 1803px #FFF , 954px 1310px #FFF , 536px 915px #FFF , 18px 209px #FFF , 187px 1235px #FFF , 1211px 433px #FFF , 1621px 1479px #FFF , 1854px 1157px #FFF , 1739px 374px #FFF , 191px 1796px #FFF , 1766px 1956px #FFF , 1697px 25px #FFF , 912px 379px #FFF , 105px 1072px #FFF , 1044px 480px #FFF , 132px 297px #FFF , 1644px 1471px #FFF , 1784px 463px #FFF , 593px 973px #FFF , 1060px 497px #FFF , 1921px 1905px #FFF , 1227px 769px #FFF , 1785px 212px #FFF , 1297px 654px #FFF , 1889px 533px #FFF , 776px 414px #FFF , 787px 1835px #FFF , 401px 847px #FFF , 901px 1682px #FFF , 287px 1405px #FFF , 75px 1630px #FFF , 1463px 1201px #FFF , 1087px 1286px #FFF , 218px 1831px #FFF , 1961px 1120px #FFF , 1742px 1688px #FFF , 1624px 48px #FFF , 1988px 1050px #FFF , 1066px 571px #FFF , 1730px 510px #FFF , 1177px 656px #FFF , 565px 266px #FFF , 602px 193px #FFF , 57px 1334px #FFF , 843px 742px #FFF , 1831px 832px #FFF , 194px 1761px #FFF , 1231px 720px #FFF , 446px 1366px #FFF , 974px 906px #FFF , 855px 771px #FFF , 419px 1073px #FFF , 1926px 1312px #FFF , 603px 1753px #FFF , 632px 1993px #FFF , 781px 668px #FFF , 1633px 1580px #FFF , 571px 1003px #FFF , 289px 1737px #FFF , 55px 1537px #FFF , 1254px 96px #FFF , 16px 1041px #FFF , 318px 1992px #FFF , 1896px 1231px #FFF , 719px 1037px #FFF , 519px 1979px #FFF , 352px 1576px #FFF , 1120px 784px #FFF , 482px 461px #FFF , 1299px 1831px #FFF , 67px 177px #FFF , 328px 409px #FFF , 446px 1508px #FFF , 624px 1719px #FFF , 1733px 907px #FFF , 503px 1606px #FFF , 1553px 1625px #FFF , 460px 1741px #FFF , 27px 275px #FFF , 129px 9px #FFF , 1720px 1814px #FFF , 30px 1191px #FFF , 859px 1438px #FFF , 1037px 1710px #FFF , 307px 378px #FFF , 995px 1581px #FFF , 1184px 341px #FFF , 884px 873px #FFF , 1400px 297px #FFF , 222px 981px #FFF , 874px 1508px #FFF , 1838px 1149px #FFF , 1776px 1626px #FFF , 1710px 1962px #FFF , 315px 707px #FFF , 748px 1707px #FFF , 1407px 514px #FFF , 1988px 160px #FFF , 1674px 565px #FFF , 1527px 1259px #FFF , 398px 1425px #FFF , 1687px 1282px #FFF , 1962px 1989px #FFF , 110px 1280px #FFF , 370px 271px #FFF , 984px 1760px #FFF , 1285px 738px #FFF , 1322px 693px #FFF , 1662px 239px #FFF , 1016px 829px #FFF , 1844px 1943px #FFF , 184px 230px #FFF , 718px 430px #FFF , 724px 393px #FFF , 1362px 1474px #FFF , 1166px 546px #FFF , 1714px 882px #FFF , 13px 243px #FFF , 1220px 1259px #FFF , 1589px 137px #FFF , 1398px 666px #FFF , 290px 1525px #FFF , 1474px 102px #FFF , 990px 716px #FFF , 228px 1793px #FFF , 1249px 362px #FFF , 1391px 1237px #FFF , 1512px 1197px #FFF , 1135px 1069px #FFF , 747px 390px #FFF , 973px 89px #FFF , 1360px 1745px #FFF , 153px 1980px #FFF , 920px 1264px #FFF , 761px 174px #FFF , 436px 1106px #FFF , 39px 1820px #FFF , 1117px 378px #FFF , 1734px 1683px #FFF , 111px 105px #FFF , 879px 1097px #FFF , 1618px 612px #FFF , 463px 1748px #FFF , 133px 1959px #FFF , 1980px 1059px #FFF , 26px 1901px #FFF , 870px 1941px #FFF , 713px 736px #FFF , 1360px 1767px #FFF , 1301px 1746px #FFF , 1795px 1435px #FFF , 693px 1122px #FFF , 1266px 30px #FFF , 1649px 759px #FFF , 882px 1931px #FFF , 1831px 250px #FFF , 1975px 902px #FFF , 736px 373px #FFF , 476px 622px #FFF , 1177px 719px #FFF , 40px 1620px #FFF , 988px 656px #FFF , 1898px 590px #FFF , 97px 570px #FFF , 1279px 383px #FFF , 1770px 625px #FFF , 978px 1537px #FFF , 881px 324px #FFF , 1912px 1724px #FFF , 133px 1347px #FFF , 1124px 370px #FFF , 883px 1688px #FFF , 162px 999px #FFF , 752px 1303px #FFF , 734px 1682px #FFF , 1420px 91px #FFF , 561px 1054px #FFF , 1606px 1013px #FFF , 1557px 218px #FFF , 1098px 1148px #FFF , 1384px 793px #FFF , 416px 1644px #FFF , 1793px 1790px #FFF , 284px 1670px #FFF , 1889px 988px #FFF , 1231px 566px #FFF , 1767px 1107px #FFF , 1239px 619px #FFF , 425px 1493px #FFF , 977px 107px #FFF , 974px 684px #FFF , 1401px 14px #FFF , 188px 1640px #FFF , 1184px 23px #FFF , 785px 793px #FFF , 1458px 971px #FFF , 1176px 371px #FFF , 657px 1076px #FFF , 1954px 1059px #FFF , 1167px 262px #FFF , 1718px 933px #FFF , 1691px 1401px #FFF , 1506px 1815px #FFF , 1009px 64px #FFF , 1853px 465px #FFF , 1533px 1717px #FFF , 743px 98px #FFF , 903px 1183px #FFF , 274px 141px #FFF , 957px 42px #FFF , 1443px 489px #FFF , 1556px 237px #FFF , 1802px 1932px #FFF , 1935px 231px #FFF , 1178px 1872px #FFF , 1546px 776px #FFF , 1881px 123px #FFF , 692px 105px #FFF , 1326px 1276px #FFF , 734px 611px #FFF , 697px 323px #FFF , 1783px 1447px #FFF , 1392px 994px #FFF , 814px 1377px #FFF , 1763px 725px #FFF , 899px 1369px #FFF , 199px 558px #FFF , 1790px 121px #FFF , 25px 355px #FFF , 584px 1316px #FFF , 1469px 1033px #FFF , 520px 1372px #FFF , 1699px 589px #FFF , 1770px 591px #FFF , 1353px 204px #FFF , 381px 121px #FFF , 423px 700px #FFF , 841px 1113px #FFF , 948px 769px #FFF , 412px 1904px #FFF , 826px 1200px #FFF , 1652px 1255px #FFF , 1443px 1135px #FFF , 467px 1594px #FFF , 1412px 1307px #FFF , 745px 1198px #FFF , 1013px 953px #FFF , 1222px 1319px #FFF , 1197px 44px #FFF , 1635px 903px #FFF , 1745px 843px #FFF , 10px 1923px #FFF , 756px 1346px #FFF , 627px 1182px #FFF , 447px 1455px #FFF , 1352px 1562px #FFF , 1444px 1505px #FFF , 227px 1424px #FFF , 931px 721px #FFF , 1616px 580px #FFF , 1141px 1282px #FFF , 262px 1108px #FFF , 724px 418px #FFF , 103px 1427px #FFF , 337px 1440px #FFF , 249px 1423px #FFF , 546px 1304px #FFF , 886px 392px #FFF , 976px 1371px #FFF , 1532px 1884px #FFF , 114px 638px #FFF , 1927px 1681px #FFF , 1378px 1065px #FFF , 1363px 429px #FFF , 833px 1469px #FFF , 1171px 1666px #FFF , 223px 230px #FFF , 1856px 117px #FFF , 50px 1970px #FFF , 1050px 121px #FFF , 1480px 94px #FFF , 580px 1102px #FFF , 1234px 148px #FFF , 881px 1734px #FFF , 1884px 1046px #FFF , 1234px 1922px #FFF , 46px 1297px #FFF , 1898px 373px #FFF , 729px 389px #FFF , 1803px 545px #FFF , 1924px 1327px #FFF , 579px 647px #FFF , 1452px 1328px #FFF , 642px 976px #FFF , 106px 105px #FFF , 949px 701px #FFF , 199px 276px #FFF , 1786px 798px #FFF , 232px 1996px #FFF , 1886px 124px #FFF , 1977px 170px #FFF , 1013px 956px #FFF , 990px 1596px #FFF , 577px 787px #FFF , 849px 521px #FFF , 399px 1144px #FFF , 397px 907px #FFF , 1729px 272px #FFF , 2000px 932px #FFF , 70px 731px #FFF , 785px 811px #FFF , 1739px 406px #FFF , 1887px 23px #FFF , 1094px 1294px #FFF , 698px 1708px #FFF , 853px 1747px #FFF , 788px 950px #FFF , 502px 1409px #FFF , 477px 1713px #FFF , 1177px 1122px #FFF , 1775px 1737px #FFF , 1692px 396px #FFF , 186px 448px #FFF , 1067px 133px #FFF , 788px 1008px #FFF , 964px 1176px #FFF , 481px 1265px #FFF , 1471px 1466px #FFF , 786px 1019px #FFF , 1711px 642px #FFF , 311px 861px #FFF , 1080px 1070px #FFF , 1204px 792px #FFF , 1117px 716px #FFF , 31px 226px #FFF , 1626px 1248px #FFF , 724px 1571px #FFF , 1632px 216px #FFF , 1366px 1577px #FFF , 1909px 423px #FFF , 1372px 1226px #FFF , 1168px 1392px #FFF , 551px 1794px #FFF , 1178px 87px #FFF , 1857px 1894px #FFF , 807px 1398px #FFF , 1936px 1929px #FFF , 496px 180px #FFF , 425px 146px #FFF , 192px 1263px #FFF , 1491px 826px #FFF , 209px 197px #FFF , 543px 388px #FFF , 340px 72px #FFF , 1512px 251px #FFF , 1999px 1645px #FFF , 656px 996px #FFF , 103px 10px #FFF , 625px 1567px #FFF , 817px 1705px #FFF , 1460px 1891px #FFF , 796px 1050px #FFF , 1632px 115px #FFF , 397px 1225px #FFF , 1083px 1247px #FFF , 1435px 610px #FFF , 1627px 851px #FFF , 1794px 1229px #FFF , 338px 616px #FFF , 727px 1284px #FFF , 1888px 1694px #FFF , 186px 1081px #FFF , 1868px 752px #FFF , 1990px 483px #FFF , 239px 1025px #FFF , 1236px 823px #FFF , 1420px 377px #FFF , 1285px 1815px #FFF , 1544px 554px #FFF , 769px 76px #FFF , 966px 1448px #FFF , 201px 1183px #FFF , 1702px 1741px #FFF , 673px 276px #FFF , 1233px 302px #FFF , 854px 180px #FFF , 1532px 1644px #FFF , 73px 1851px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 230px 1144px #FFF , 1391px 1851px #FFF , 229px 449px #FFF , 68px 382px #FFF , 1172px 426px #FFF , 1713px 668px #FFF , 1392px 1356px #FFF , 1298px 1244px #FFF , 69px 1600px #FFF , 170px 1595px #FFF , 1942px 1288px #FFF , 872px 1500px #FFF , 927px 1969px #FFF , 779px 726px #FFF , 20px 377px #FFF , 749px 909px #FFF , 1364px 623px #FFF , 207px 245px #FFF , 1464px 1993px #FFF , 505px 1529px #FFF , 860px 1809px #FFF , 1493px 898px #FFF , 1726px 833px #FFF , 948px 1394px #FFF , 1956px 1994px #FFF , 1633px 1882px #FFF , 1932px 195px #FFF , 1522px 74px #FFF , 621px 482px #FFF , 840px 96px #FFF , 842px 33px #FFF , 1616px 535px #FFF , 1831px 1477px #FFF , 667px 831px #FFF , 1641px 1159px #FFF , 726px 435px #FFF , 1908px 431px #FFF , 538px 859px #FFF , 636px 1706px #FFF , 1524px 730px #FFF , 1323px 560px #FFF , 376px 447px #FFF , 1247px 825px #FFF , 1340px 1259px #FFF , 387px 726px #FFF , 1586px 60px #FFF , 174px 1872px #FFF , 1820px 1253px #FFF , 1268px 620px #FFF , 1352px 9px #FFF , 1578px 606px #FFF , 394px 165px #FFF , 95px 418px #FFF , 402px 235px #FFF , 669px 32px #FFF , 1528px 915px #FFF , 490px 1668px #FFF , 1669px 94px #FFF , 865px 1044px #FFF , 1167px 1731px #FFF , 1722px 1357px #FFF , 944px 1972px #FFF , 184px 648px #FFF , 1943px 1081px #FFF , 254px 58px #FFF , 631px 1558px #FFF , 157px 1967px #FFF , 1873px 1415px #FFF , 265px 616px #FFF , 1034px 23px #FFF , 1203px 1099px #FFF , 754px 1458px #FFF , 2000px 1102px #FFF , 986px 804px #FFF , 672px 1700px #FFF , 559px 976px #FFF , 1848px 391px #FFF , 810px 1595px #FFF , 284px 100px #FFF , 792px 857px #FFF , 1277px 615px #FFF , 842px 333px #FFF , 1546px 1440px #FFF , 1906px 1105px #FFF , 530px 788px #FFF , 1017px 246px #FFF , 1058px 1439px #FFF , 992px 141px #FFF , 623px 1994px #FFF , 186px 505px #FFF , 888px 947px #FFF , 677px 938px #FFF , 1595px 1510px #FFF , 1641px 1539px #FFF , 1087px 661px #FFF , 773px 1017px #FFF , 1671px 1390px #FFF , 23px 967px #FFF , 1897px 556px #FFF , 1172px 697px #FFF , 585px 1031px #FFF , 779px 179px #FFF , 1581px 487px #FFF , 1227px 179px #FFF , 1529px 348px #FFF , 1572px 832px #FFF , 532px 806px #FFF , 458px 1707px #FFF , 785px 1205px #FFF , 887px 776px #FFF , 1574px 851px #FFF , 1335px 1421px #FFF , 1539px 1532px #FFF , 1790px 1997px #FFF , 518px 1305px #FFF , 181px 1501px #FFF , 170px 1088px #FFF , 1930px 834px #FFF , 1818px 1471px #FFF , 508px 503px #FFF , 1492px 310px #FFF , 129px 1684px #FFF , 1185px 138px #FFF , 44px 1182px #FFF , 263px 1823px #FFF , 1279px 1090px #FFF , 623px 1344px #FFF , 1762px 479px #FFF , 1592px 812px #FFF , 528px 1586px #FFF , 718px 167px #FFF , 1340px 1979px #FFF , 1198px 1222px #FFF , 945px 1149px #FFF , 1923px 1323px #FFF , 1602px 1942px #FFF , 217px 729px #FFF , 1282px 1033px #FFF , 1203px 1064px #FFF , 647px 1707px #FFF , 1991px 822px #FFF , 1193px 687px #FFF , 1873px 1260px #FFF , 1935px 807px #FFF , 1806px 62px #FFF , 395px 370px #FFF , 649px 1646px #FFF , 634px 538px #FFF , 1789px 1467px #FFF , 1209px 1779px #FFF , 1075px 1828px #FFF , 619px 806px #FFF , 477px 638px #FFF , 957px 764px #FFF , 636px 1981px #FFF , 32px 1487px #FFF , 1367px 265px #FFF , 510px 563px #FFF , 236px 1860px #FFF , 909px 202px #FFF , 461px 1114px #FFF , 1568px 697px #FFF , 110px 1672px #FFF , 1786px 1301px #FFF , 449px 634px #FFF , 569px 702px #FFF , 304px 906px #FFF , 1115px 40px #FFF , 1778px 1859px #FFF , 1113px 1846px #FFF , 497px 17px #FFF , 1714px 348px #FFF , 577px 1878px #FFF , 95px 798px #FFF , 478px 1683px #FFF , 887px 1289px #FFF , 1129px 14px #FFF , 188px 369px #FFF , 1360px 64px #FFF , 920px 625px #FFF , 1870px 1941px #FFF , 819px 1095px #FFF , 1680px 677px #FFF , 307px 766px #FFF , 1685px 1583px #FFF , 1317px 1512px #FFF , 1583px 1524px #FFF , 1480px 1128px #FFF , 798px 988px #FFF , 531px 362px #FFF , 205px 243px #FFF , 525px 511px #FFF , 1541px 1603px #FFF , 463px 197px #FFF , 1704px 923px #FFF , 586px 1683px #FFF , 963px 1495px #FFF , 274px 1364px #FFF , 1366px 1121px #FFF , 1567px 96px #FFF , 1943px 1426px #FFF , 7px 1458px #FFF , 322px 1045px #FFF , 324px 524px #FFF , 408px 1174px #FFF , 1154px 1310px #FFF , 1362px 765px #FFF , 266px 106px #FFF , 25px 1475px #FFF , 596px 1027px #FFF , 280px 1093px #FFF , 642px 366px #FFF , 644px 1383px #FFF , 350px 1399px #FFF , 1373px 613px #FFF , 480px 1098px #FFF , 1738px 1987px #FFF , 781px 1749px #FFF , 337px 457px #FFF , 1505px 1239px #FFF , 709px 1529px #FFF , 1198px 232px #FFF , 274px 1928px #FFF , 1657px 545px #FFF , 1092px 1008px #FFF , 590px 1537px #FFF , 728px 1438px #FFF , 1452px 1580px #FFF , 672px 1742px #FFF , 1633px 1191px #FFF , 1443px 539px #FFF , 929px 346px #FFF , 1866px 699px #FFF , 1458px 343px #FFF , 799px 1163px #FFF , 1224px 1808px #FFF , 716px 1821px #FFF , 1476px 1452px #FFF , 829px 1744px #FFF , 845px 300px #FFF , 1294px 1379px #FFF , 199px 53px #FFF , 353px 19px #FFF , 713px 256px #FFF , 51px 1644px #FFF , 38px 1410px #FFF , 246px 957px #FFF , 1335px 397px #FFF , 8px 1093px #FFF , 1059px 1463px #FFF , 37px 695px #FFF , 206px 301px #FFF , 1375px 56px #FFF , 321px 860px #FFF , 265px 1743px #FFF , 380px 202px #FFF , 1018px 79px #FFF , 51px 1984px #FFF , 868px 127px #FFF , 1089px 967px #FFF , 1911px 1989px #FFF , 1515px 936px #FFF , 624px 1474px #FFF , 1871px 70px #FFF , 1288px 484px #FFF , 1129px 1145px #FFF , 783px 1020px #FFF , 1662px 1669px #FFF , 725px 1098px #FFF , 972px 511px #FFF , 138px 1479px #FFF , 72px 832px #FFF , 411px 1860px #FFF , 853px 941px #FFF , 1214px 769px #FFF , 60px 1948px #FFF , 1490px 32px #FFF , 1850px 1110px #FFF , 1950px 1186px #FFF , 787px 1482px #FFF , 797px 198px #FFF , 182px 665px #FFF , 1434px 1700px #FFF , 712px 125px #FFF , 1656px 872px #FFF , 1966px 1333px #FFF , 988px 1367px #FFF , 671px 1191px #FFF , 1874px 1399px #FFF , 1895px 1964px #FFF , 762px 1362px #FFF , 1410px 1482px #FFF , 1704px 45px #FFF , 1873px 1460px #FFF , 289px 1163px #FFF , 618px 1041px #FFF , 1546px 739px #FFF , 625px 1852px #FFF , 1138px 1180px #FFF , 91px 1752px #FFF , 1812px 1259px #FFF , 793px 1468px #FFF , 238px 1526px #FFF , 1285px 1492px #FFF , 1490px 517px #FFF , 1064px 1691px #FFF , 1764px 931px #FFF , 739px 1395px #FFF , 1552px 1811px #FFF , 243px 545px #FFF , 17px 889px #FFF , 821px 345px #FFF , 1439px 1803px #FFF , 954px 1310px #FFF , 536px 915px #FFF , 18px 209px #FFF , 187px 1235px #FFF , 1211px 433px #FFF , 1621px 1479px #FFF , 1854px 1157px #FFF , 1739px 374px #FFF , 191px 1796px #FFF , 1766px 1956px #FFF , 1697px 25px #FFF , 912px 379px #FFF , 105px 1072px #FFF , 1044px 480px #FFF , 132px 297px #FFF , 1644px 1471px #FFF , 1784px 463px #FFF , 593px 973px #FFF , 1060px 497px #FFF , 1921px 1905px #FFF , 1227px 769px #FFF , 1785px 212px #FFF , 1297px 654px #FFF , 1889px 533px #FFF , 776px 414px #FFF , 787px 1835px #FFF , 401px 847px #FFF , 901px 1682px #FFF , 287px 1405px #FFF , 75px 1630px #FFF , 1463px 1201px #FFF , 1087px 1286px #FFF , 218px 1831px #FFF , 1961px 1120px #FFF , 1742px 1688px #FFF , 1624px 48px #FFF , 1988px 1050px #FFF , 1066px 571px #FFF , 1730px 510px #FFF , 1177px 656px #FFF , 565px 266px #FFF , 602px 193px #FFF , 57px 1334px #FFF , 843px 742px #FFF , 1831px 832px #FFF , 194px 1761px #FFF , 1231px 720px #FFF , 446px 1366px #FFF , 974px 906px #FFF , 855px 771px #FFF , 419px 1073px #FFF , 1926px 1312px #FFF , 603px 1753px #FFF , 632px 1993px #FFF , 781px 668px #FFF , 1633px 1580px #FFF , 571px 1003px #FFF , 289px 1737px #FFF , 55px 1537px #FFF , 1254px 96px #FFF , 16px 1041px #FFF , 318px 1992px #FFF , 1896px 1231px #FFF , 719px 1037px #FFF , 519px 1979px #FFF , 352px 1576px #FFF , 1120px 784px #FFF , 482px 461px #FFF , 1299px 1831px #FFF , 67px 177px #FFF , 328px 409px #FFF , 446px 1508px #FFF , 624px 1719px #FFF , 1733px 907px #FFF , 503px 1606px #FFF , 1553px 1625px #FFF , 460px 1741px #FFF , 27px 275px #FFF , 129px 9px #FFF , 1720px 1814px #FFF , 30px 1191px #FFF , 859px 1438px #FFF , 1037px 1710px #FFF , 307px 378px #FFF , 995px 1581px #FFF , 1184px 341px #FFF , 884px 873px #FFF , 1400px 297px #FFF , 222px 981px #FFF , 874px 1508px #FFF , 1838px 1149px #FFF , 1776px 1626px #FFF , 1710px 1962px #FFF , 315px 707px #FFF , 748px 1707px #FFF , 1407px 514px #FFF , 1988px 160px #FFF , 1674px 565px #FFF , 1527px 1259px #FFF , 398px 1425px #FFF , 1687px 1282px #FFF , 1962px 1989px #FFF , 110px 1280px #FFF , 370px 271px #FFF , 984px 1760px #FFF , 1285px 738px #FFF , 1322px 693px #FFF , 1662px 239px #FFF , 1016px 829px #FFF , 1844px 1943px #FFF , 184px 230px #FFF , 718px 430px #FFF , 724px 393px #FFF , 1362px 1474px #FFF , 1166px 546px #FFF , 1714px 882px #FFF , 13px 243px #FFF , 1220px 1259px #FFF , 1589px 137px #FFF , 1398px 666px #FFF , 290px 1525px #FFF , 1474px 102px #FFF , 990px 716px #FFF , 228px 1793px #FFF , 1249px 362px #FFF , 1391px 1237px #FFF , 1512px 1197px #FFF , 1135px 1069px #FFF , 747px 390px #FFF , 973px 89px #FFF , 1360px 1745px #FFF , 153px 1980px #FFF , 920px 1264px #FFF , 761px 174px #FFF , 436px 1106px #FFF , 39px 1820px #FFF , 1117px 378px #FFF , 1734px 1683px #FFF , 111px 105px #FFF , 879px 1097px #FFF , 1618px 612px #FFF , 463px 1748px #FFF , 133px 1959px #FFF , 1980px 1059px #FFF , 26px 1901px #FFF , 870px 1941px #FFF , 713px 736px #FFF , 1360px 1767px #FFF , 1301px 1746px #FFF , 1795px 1435px #FFF , 693px 1122px #FFF , 1266px 30px #FFF , 1649px 759px #FFF , 882px 1931px #FFF , 1831px 250px #FFF , 1975px 902px #FFF , 736px 373px #FFF , 476px 622px #FFF , 1177px 719px #FFF , 40px 1620px #FFF , 988px 656px #FFF , 1898px 590px #FFF , 97px 570px #FFF , 1279px 383px #FFF , 1770px 625px #FFF , 978px 1537px #FFF , 881px 324px #FFF , 1912px 1724px #FFF , 133px 1347px #FFF , 1124px 370px #FFF , 883px 1688px #FFF , 162px 999px #FFF , 752px 1303px #FFF , 734px 1682px #FFF , 1420px 91px #FFF , 561px 1054px #FFF , 1606px 1013px #FFF , 1557px 218px #FFF , 1098px 1148px #FFF , 1384px 793px #FFF , 416px 1644px #FFF , 1793px 1790px #FFF , 284px 1670px #FFF , 1889px 988px #FFF , 1231px 566px #FFF , 1767px 1107px #FFF , 1239px 619px #FFF , 425px 1493px #FFF , 977px 107px #FFF , 974px 684px #FFF , 1401px 14px #FFF , 188px 1640px #FFF , 1184px 23px #FFF , 785px 793px #FFF , 1458px 971px #FFF , 1176px 371px #FFF , 657px 1076px #FFF , 1954px 1059px #FFF , 1167px 262px #FFF , 1718px 933px #FFF , 1691px 1401px #FFF , 1506px 1815px #FFF , 1009px 64px #FFF , 1853px 465px #FFF , 1533px 1717px #FFF , 743px 98px #FFF , 903px 1183px #FFF , 274px 141px #FFF , 957px 42px #FFF , 1443px 489px #FFF , 1556px 237px #FFF , 1802px 1932px #FFF , 1935px 231px #FFF , 1178px 1872px #FFF , 1546px 776px #FFF , 1881px 123px #FFF , 692px 105px #FFF , 1326px 1276px #FFF , 734px 611px #FFF , 697px 323px #FFF , 1783px 1447px #FFF , 1392px 994px #FFF , 814px 1377px #FFF , 1763px 725px #FFF , 899px 1369px #FFF , 199px 558px #FFF , 1790px 121px #FFF , 25px 355px #FFF , 584px 1316px #FFF , 1469px 1033px #FFF , 520px 1372px #FFF , 1699px 589px #FFF , 1770px 591px #FFF , 1353px 204px #FFF , 381px 121px #FFF , 423px 700px #FFF , 841px 1113px #FFF , 948px 769px #FFF , 412px 1904px #FFF , 826px 1200px #FFF , 1652px 1255px #FFF , 1443px 1135px #FFF , 467px 1594px #FFF , 1412px 1307px #FFF , 745px 1198px #FFF , 1013px 953px #FFF , 1222px 1319px #FFF , 1197px 44px #FFF , 1635px 903px #FFF , 1745px 843px #FFF , 10px 1923px #FFF , 756px 1346px #FFF , 627px 1182px #FFF , 447px 1455px #FFF , 1352px 1562px #FFF , 1444px 1505px #FFF , 227px 1424px #FFF , 931px 721px #FFF , 1616px 580px #FFF , 1141px 1282px #FFF , 262px 1108px #FFF , 724px 418px #FFF , 103px 1427px #FFF , 337px 1440px #FFF , 249px 1423px #FFF , 546px 1304px #FFF , 886px 392px #FFF , 976px 1371px #FFF , 1532px 1884px #FFF , 114px 638px #FFF , 1927px 1681px #FFF , 1378px 1065px #FFF , 1363px 429px #FFF , 833px 1469px #FFF , 1171px 1666px #FFF , 223px 230px #FFF , 1856px 117px #FFF , 50px 1970px #FFF , 1050px 121px #FFF , 1480px 94px #FFF , 580px 1102px #FFF , 1234px 148px #FFF , 881px 1734px #FFF , 1884px 1046px #FFF , 1234px 1922px #FFF , 46px 1297px #FFF , 1898px 373px #FFF , 729px 389px #FFF , 1803px 545px #FFF , 1924px 1327px #FFF , 579px 647px #FFF , 1452px 1328px #FFF , 642px 976px #FFF , 106px 105px #FFF , 949px 701px #FFF , 199px 276px #FFF , 1786px 798px #FFF , 232px 1996px #FFF , 1886px 124px #FFF , 1977px 170px #FFF , 1013px 956px #FFF , 990px 1596px #FFF , 577px 787px #FFF , 849px 521px #FFF , 399px 1144px #FFF , 397px 907px #FFF , 1729px 272px #FFF , 2000px 932px #FFF , 70px 731px #FFF , 785px 811px #FFF , 1739px 406px #FFF , 1887px 23px #FFF , 1094px 1294px #FFF , 698px 1708px #FFF , 853px 1747px #FFF , 788px 950px #FFF , 502px 1409px #FFF , 477px 1713px #FFF , 1177px 1122px #FFF , 1775px 1737px #FFF , 1692px 396px #FFF , 186px 448px #FFF , 1067px 133px #FFF , 788px 1008px #FFF , 964px 1176px #FFF , 481px 1265px #FFF , 1471px 1466px #FFF , 786px 1019px #FFF , 1711px 642px #FFF , 311px 861px #FFF , 1080px 1070px #FFF , 1204px 792px #FFF , 1117px 716px #FFF , 31px 226px #FFF , 1626px 1248px #FFF , 724px 1571px #FFF , 1632px 216px #FFF , 1366px 1577px #FFF , 1909px 423px #FFF , 1372px 1226px #FFF , 1168px 1392px #FFF , 551px 1794px #FFF , 1178px 87px #FFF , 1857px 1894px #FFF , 807px 1398px #FFF , 1936px 1929px #FFF , 496px 180px #FFF , 425px 146px #FFF , 192px 1263px #FFF , 1491px 826px #FFF , 209px 197px #FFF , 543px 388px #FFF , 340px 72px #FFF , 1512px 251px #FFF , 1999px 1645px #FFF , 656px 996px #FFF , 103px 10px #FFF , 625px 1567px #FFF , 817px 1705px #FFF , 1460px 1891px #FFF , 796px 1050px #FFF , 1632px 115px #FFF , 397px 1225px #FFF , 1083px 1247px #FFF , 1435px 610px #FFF , 1627px 851px #FFF , 1794px 1229px #FFF , 338px 616px #FFF , 727px 1284px #FFF , 1888px 1694px #FFF , 186px 1081px #FFF , 1868px 752px #FFF , 1990px 483px #FFF , 239px 1025px #FFF , 1236px 823px #FFF , 1420px 377px #FFF , 1285px 1815px #FFF , 1544px 554px #FFF , 769px 76px #FFF , 966px 1448px #FFF , 201px 1183px #FFF , 1702px 1741px #FFF , 673px 276px #FFF , 1233px 302px #FFF , 854px 180px #FFF , 1532px 1644px #FFF , 73px 1851px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 182px 411px #FFF , 604px 322px #FFF , 1177px 1712px #FFF , 1673px 1352px #FFF , 690px 203px #FFF , 986px 676px #FFF , 1690px 326px #FFF , 1399px 1769px #FFF , 1389px 1945px #FFF , 498px 1609px #FFF , 1382px 1000px #FFF , 890px 1581px #FFF , 233px 1507px #FFF , 416px 381px #FFF , 1876px 406px #FFF , 1058px 217px #FFF , 1089px 843px #FFF , 577px 358px #FFF , 840px 1445px #FFF , 897px 1593px #FFF , 1008px 337px #FFF , 763px 1348px #FFF , 1327px 396px #FFF , 464px 887px #FFF , 787px 894px #FFF , 845px 401px #FFF , 1042px 1506px #FFF , 193px 1286px #FFF , 1892px 1296px #FFF , 777px 1459px #FFF , 423px 695px #FFF , 1256px 225px #FFF , 182px 379px #FFF , 652px 41px #FFF , 864px 357px #FFF , 1555px 331px #FFF , 76px 1530px #FFF , 1767px 180px #FFF , 1411px 1866px #FFF , 1831px 1897px #FFF , 456px 892px #FFF , 918px 362px #FFF , 950px 1208px #FFF , 618px 489px #FFF , 1911px 981px #FFF , 1853px 799px #FFF , 895px 773px #FFF , 533px 1522px #FFF , 1980px 1547px #FFF , 456px 1854px #FFF , 615px 816px #FFF , 363px 573px #FFF , 87px 1637px #FFF , 528px 1852px #FFF , 1522px 1893px #FFF , 138px 677px #FFF , 1489px 1219px #FFF , 1582px 967px #FFF , 992px 1155px #FFF , 1910px 400px #FFF , 1090px 105px #FFF , 870px 759px #FFF , 971px 589px #FFF , 349px 1326px #FFF , 1795px 1648px #FFF , 945px 1350px #FFF , 943px 1271px #FFF , 522px 1081px #FFF , 1201px 907px #FFF , 153px 678px #FFF , 1780px 49px #FFF , 1303px 966px #FFF , 1935px 195px #FFF , 771px 1124px #FFF , 1848px 941px #FFF , 640px 1532px #FFF , 1548px 465px #FFF , 813px 947px #FFF , 632px 1590px #FFF , 1411px 1249px #FFF , 750px 1410px #FFF , 352px 941px #FFF , 861px 1044px #FFF , 1121px 1977px #FFF , 863px 795px #FFF , 264px 1573px #FFF , 1317px 224px #FFF , 1339px 1561px #FFF , 1304px 428px #FFF , 721px 41px #FFF , 1049px 22px #FFF , 407px 1769px #FFF , 409px 969px #FFF , 1904px 1392px #FFF , 1369px 1640px #FFF , 173px 631px #FFF , 1050px 1611px #FFF , 1170px 194px #FFF , 1920px 1475px #FFF , 65px 1949px #FFF , 494px 241px #FFF , 632px 1289px #FFF , 255px 1368px #FFF , 1032px 1765px #FFF , 1926px 564px #FFF , 195px 1939px #FFF , 970px 1853px #FFF , 1594px 146px #FFF , 1813px 297px #FFF , 211px 1810px #FFF , 257px 322px #FFF , 1673px 853px #FFF , 40px 825px #FFF , 50px 680px #FFF , 1421px 177px #FFF , 12px 108px #FFF , 1652px 1710px #FFF , 949px 1950px #FFF , 1164px 1076px #FFF , 597px 1670px #FFF , 560px 1874px #FFF , 1820px 589px #FFF , 1434px 1359px #FFF , 932px 463px #FFF , 1860px 950px #FFF , 1120px 1429px #FFF , 103px 1259px #FFF , 1922px 1430px #FFF , 1513px 844px #FFF , 1973px 767px #FFF , 97px 1796px #FFF , 1115px 689px #FFF , 74px 751px #FFF , 1304px 915px #FFF , 135px 1000px #FFF , 148px 1436px #FFF , 1426px 1862px #FFF , 1794px 408px #FFF , 949px 1021px #FFF , 236px 272px #FFF , 910px 763px #FFF , 464px 1387px #FFF , 354px 739px #FFF , 708px 1339px #FFF , 858px 1865px #FFF , 453px 850px #FFF , 1224px 314px #FFF , 1369px 487px #FFF , 1239px 1746px #FFF , 146px 1094px #FFF , 1710px 254px #FFF , 1457px 1866px #FFF , 1821px 1880px #FFF , 1028px 287px #FFF , 825px 1027px #FFF , 625px 1129px #FFF , 1802px 400px #FFF , 108px 151px #FFF , 1892px 1122px #FFF , 1107px 1295px #FFF , 632px 237px #FFF , 315px 764px #FFF , 1987px 131px #FFF , 1722px 689px #FFF , 1458px 677px #FFF , 1156px 1235px #FFF , 1892px 1673px #FFF , 612px 503px #FFF , 1057px 1860px #FFF , 1202px 925px #FFF , 1671px 1961px #FFF , 800px 1765px #FFF , 594px 460px #FFF , 170px 328px #FFF , 481px 423px #FFF , 1881px 1461px #FFF , 354px 1179px #FFF , 677px 251px #FFF , 65px 112px #FFF , 1109px 375px #FFF , 1683px 1366px #FFF , 1080px 260px #FFF , 865px 872px #FFF , 1788px 1592px #FFF , 726px 820px #FFF , 353px 975px #FFF , 1887px 1731px #FFF , 361px 1268px #FFF , 109px 155px #FFF , 49px 214px #FFF , 21px 652px #FFF , 46px 606px #FFF , 1893px 1960px #FFF , 191px 1058px #FFF , 1329px 146px #FFF , 695px 1663px #FFF , 193px 21px #FFF , 625px 971px #FFF , 159px 1392px #FFF , 769px 1000px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 182px 411px #FFF , 604px 322px #FFF , 1177px 1712px #FFF , 1673px 1352px #FFF , 690px 203px #FFF , 986px 676px #FFF , 1690px 326px #FFF , 1399px 1769px #FFF , 1389px 1945px #FFF , 498px 1609px #FFF , 1382px 1000px #FFF , 890px 1581px #FFF , 233px 1507px #FFF , 416px 381px #FFF , 1876px 406px #FFF , 1058px 217px #FFF , 1089px 843px #FFF , 577px 358px #FFF , 840px 1445px #FFF , 897px 1593px #FFF , 1008px 337px #FFF , 763px 1348px #FFF , 1327px 396px #FFF , 464px 887px #FFF , 787px 894px #FFF , 845px 401px #FFF , 1042px 1506px #FFF , 193px 1286px #FFF , 1892px 1296px #FFF , 777px 1459px #FFF , 423px 695px #FFF , 1256px 225px #FFF , 182px 379px #FFF , 652px 41px #FFF , 864px 357px #FFF , 1555px 331px #FFF , 76px 1530px #FFF , 1767px 180px #FFF , 1411px 1866px #FFF , 1831px 1897px #FFF , 456px 892px #FFF , 918px 362px #FFF , 950px 1208px #FFF , 618px 489px #FFF , 1911px 981px #FFF , 1853px 799px #FFF , 895px 773px #FFF , 533px 1522px #FFF , 1980px 1547px #FFF , 456px 1854px #FFF , 615px 816px #FFF , 363px 573px #FFF , 87px 1637px #FFF , 528px 1852px #FFF , 1522px 1893px #FFF , 138px 677px #FFF , 1489px 1219px #FFF , 1582px 967px #FFF , 992px 1155px #FFF , 1910px 400px #FFF , 1090px 105px #FFF , 870px 759px #FFF , 971px 589px #FFF , 349px 1326px #FFF , 1795px 1648px #FFF , 945px 1350px #FFF , 943px 1271px #FFF , 522px 1081px #FFF , 1201px 907px #FFF , 153px 678px #FFF , 1780px 49px #FFF , 1303px 966px #FFF , 1935px 195px #FFF , 771px 1124px #FFF , 1848px 941px #FFF , 640px 1532px #FFF , 1548px 465px #FFF , 813px 947px #FFF , 632px 1590px #FFF , 1411px 1249px #FFF , 750px 1410px #FFF , 352px 941px #FFF , 861px 1044px #FFF , 1121px 1977px #FFF , 863px 795px #FFF , 264px 1573px #FFF , 1317px 224px #FFF , 1339px 1561px #FFF , 1304px 428px #FFF , 721px 41px #FFF , 1049px 22px #FFF , 407px 1769px #FFF , 409px 969px #FFF , 1904px 1392px #FFF , 1369px 1640px #FFF , 173px 631px #FFF , 1050px 1611px #FFF , 1170px 194px #FFF , 1920px 1475px #FFF , 65px 1949px #FFF , 494px 241px #FFF , 632px 1289px #FFF , 255px 1368px #FFF , 1032px 1765px #FFF , 1926px 564px #FFF , 195px 1939px #FFF , 970px 1853px #FFF , 1594px 146px #FFF , 1813px 297px #FFF , 211px 1810px #FFF , 257px 322px #FFF , 1673px 853px #FFF , 40px 825px #FFF , 50px 680px #FFF , 1421px 177px #FFF , 12px 108px #FFF , 1652px 1710px #FFF , 949px 1950px #FFF , 1164px 1076px #FFF , 597px 1670px #FFF , 560px 1874px #FFF , 1820px 589px #FFF , 1434px 1359px #FFF , 932px 463px #FFF , 1860px 950px #FFF , 1120px 1429px #FFF , 103px 1259px #FFF , 1922px 1430px #FFF , 1513px 844px #FFF , 1973px 767px #FFF , 97px 1796px #FFF , 1115px 689px #FFF , 74px 751px #FFF , 1304px 915px #FFF , 135px 1000px #FFF , 148px 1436px #FFF , 1426px 1862px #FFF , 1794px 408px #FFF , 949px 1021px #FFF , 236px 272px #FFF , 910px 763px #FFF , 464px 1387px #FFF , 354px 739px #FFF , 708px 1339px #FFF , 858px 1865px #FFF , 453px 850px #FFF , 1224px 314px #FFF , 1369px 487px #FFF , 1239px 1746px #FFF , 146px 1094px #FFF , 1710px 254px #FFF , 1457px 1866px #FFF , 1821px 1880px #FFF , 1028px 287px #FFF , 825px 1027px #FFF , 625px 1129px #FFF , 1802px 400px #FFF , 108px 151px #FFF , 1892px 1122px #FFF , 1107px 1295px #FFF , 632px 237px #FFF , 315px 764px #FFF , 1987px 131px #FFF , 1722px 689px #FFF , 1458px 677px #FFF , 1156px 1235px #FFF , 1892px 1673px #FFF , 612px 503px #FFF , 1057px 1860px #FFF , 1202px 925px #FFF , 1671px 1961px #FFF , 800px 1765px #FFF , 594px 460px #FFF , 170px 328px #FFF , 481px 423px #FFF , 1881px 1461px #FFF , 354px 1179px #FFF , 677px 251px #FFF , 65px 112px #FFF , 1109px 375px #FFF , 1683px 1366px #FFF , 1080px 260px #FFF , 865px 872px #FFF , 1788px 1592px #FFF , 726px 820px #FFF , 353px 975px #FFF , 1887px 1731px #FFF , 361px 1268px #FFF , 109px 155px #FFF , 49px 214px #FFF , 21px 652px #FFF , 46px 606px #FFF , 1893px 1960px #FFF , 191px 1058px #FFF , 1329px 146px #FFF , 695px 1663px #FFF , 193px 21px #FFF , 625px 971px #FFF , 159px 1392px #FFF , 769px 1000px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 260px 1889px #FFF , 1813px 456px #FFF , 343px 1951px #FFF , 435px 1894px #FFF , 470px 962px #FFF , 1534px 1822px #FFF , 1001px 1580px #FFF , 1730px 1022px #FFF , 1720px 1622px #FFF , 954px 964px #FFF , 50px 706px #FFF , 962px 1694px #FFF , 1842px 1470px #FFF , 308px 137px #FFF , 504px 846px #FFF , 998px 632px #FFF , 1693px 354px #FFF , 405px 355px #FFF , 678px 26px #FFF , 1322px 1197px #FFF , 1651px 1293px #FFF , 1135px 1899px #FFF , 1381px 664px #FFF , 224px 1532px #FFF , 1906px 275px #FFF , 726px 425px #FFF , 243px 510px #FFF , 1044px 760px #FFF , 151px 1032px #FFF , 360px 1414px #FFF , 342px 791px #FFF , 1986px 801px #FFF , 462px 940px #FFF , 103px 1914px #FFF , 1204px 389px #FFF , 1808px 1563px #FFF , 569px 714px #FFF , 943px 847px #FFF , 1655px 1182px #FFF , 192px 495px #FFF , 461px 579px #FFF , 744px 1295px #FFF , 1037px 1839px #FFF , 1764px 837px #FFF , 1711px 1987px #FFF , 325px 678px #FFF , 1091px 381px #FFF , 1517px 1502px #FFF , 723px 1602px #FFF , 1587px 782px #FFF , 1150px 424px #FFF , 26px 258px #FFF , 1353px 938px #FFF , 513px 459px #FFF , 317px 412px #FFF , 1564px 1640px #FFF , 1727px 1245px #FFF , 1641px 1969px #FFF , 1435px 1437px #FFF , 1954px 1399px #FFF , 19px 1901px #FFF , 628px 27px #FFF , 487px 1008px #FFF , 1406px 1880px #FFF , 755px 296px #FFF , 1060px 1943px #FFF , 1200px 1484px #FFF , 1722px 514px #FFF , 604px 1670px #FFF , 1804px 1594px #FFF , 1571px 1211px #FFF , 597px 155px #FFF , 1805px 764px #FFF , 736px 1737px #FFF , 577px 1523px #FFF , 811px 1630px #FFF , 1281px 761px #FFF , 251px 809px #FFF , 1394px 59px #FFF , 683px 364px #FFF , 1349px 1315px #FFF , 729px 60px #FFF , 1867px 262px #FFF , 1604px 841px #FFF , 1042px 1265px #FFF , 978px 1941px #FFF , 1869px 189px #FFF , 11px 597px #FFF , 506px 864px #FFF , 1597px 1778px #FFF , 1466px 1209px #FFF , 1225px 163px #FFF , 686px 1878px #FFF , 968px 596px #FFF , 1002px 1802px #FFF , 1617px 786px #FFF , 1243px 893px #FFF , 31px 257px #FFF , 1959px 1132px #FFF , 922px 968px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 260px 1889px #FFF , 1813px 456px #FFF , 343px 1951px #FFF , 435px 1894px #FFF , 470px 962px #FFF , 1534px 1822px #FFF , 1001px 1580px #FFF , 1730px 1022px #FFF , 1720px 1622px #FFF , 954px 964px #FFF , 50px 706px #FFF , 962px 1694px #FFF , 1842px 1470px #FFF , 308px 137px #FFF , 504px 846px #FFF , 998px 632px #FFF , 1693px 354px #FFF , 405px 355px #FFF , 678px 26px #FFF , 1322px 1197px #FFF , 1651px 1293px #FFF , 1135px 1899px #FFF , 1381px 664px #FFF , 224px 1532px #FFF , 1906px 275px #FFF , 726px 425px #FFF , 243px 510px #FFF , 1044px 760px #FFF , 151px 1032px #FFF , 360px 1414px #FFF , 342px 791px #FFF , 1986px 801px #FFF , 462px 940px #FFF , 103px 1914px #FFF , 1204px 389px #FFF , 1808px 1563px #FFF , 569px 714px #FFF , 943px 847px #FFF , 1655px 1182px #FFF , 192px 495px #FFF , 461px 579px #FFF , 744px 1295px #FFF , 1037px 1839px #FFF , 1764px 837px #FFF , 1711px 1987px #FFF , 325px 678px #FFF , 1091px 381px #FFF , 1517px 1502px #FFF , 723px 1602px #FFF , 1587px 782px #FFF , 1150px 424px #FFF , 26px 258px #FFF , 1353px 938px #FFF , 513px 459px #FFF , 317px 412px #FFF , 1564px 1640px #FFF , 1727px 1245px #FFF , 1641px 1969px #FFF , 1435px 1437px #FFF , 1954px 1399px #FFF , 19px 1901px #FFF , 628px 27px #FFF , 487px 1008px #FFF , 1406px 1880px #FFF , 755px 296px #FFF , 1060px 1943px #FFF , 1200px 1484px #FFF , 1722px 514px #FFF , 604px 1670px #FFF , 1804px 1594px #FFF , 1571px 1211px #FFF , 597px 155px #FFF , 1805px 764px #FFF , 736px 1737px #FFF , 577px 1523px #FFF , 811px 1630px #FFF , 1281px 761px #FFF , 251px 809px #FFF , 1394px 59px #FFF , 683px 364px #FFF , 1349px 1315px #FFF , 729px 60px #FFF , 1867px 262px #FFF , 1604px 841px #FFF , 1042px 1265px #FFF , 978px 1941px #FFF , 1869px 189px #FFF , 11px 597px #FFF , 506px 864px #FFF , 1597px 1778px #FFF , 1466px 1209px #FFF , 1225px 163px #FFF , 686px 1878px #FFF , 968px 596px #FFF , 1002px 1802px #FFF , 1617px 786px #FFF , 1243px 893px #FFF , 31px 257px #FFF , 1959px 1132px #FFF , 922px 968px #FFF;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


.star12 {
  position: absolute;
  width: 1.25px;
  height: 1.25px;
  background: rgba(255,255,255,0.0);
  border-radius: 5px;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }
  100% {
    background: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}
.ow-stars2{
	background: black url(../img/rotate1.jpg) no-repeat;
	background-position:center;
    background-position: center;
    overflow: visible;
    height: 150vh;
    top: -25vh;
    left: -25vw;
    width: 150vw;
    background-size: contain;}
.ow-stars2 {
  -webkit-animation-name: rotatea;
  -webkit-animation-duration:120s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:120s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  
}
.logo-ani{
	margin-top:calc(50vh - 150px);
	width:300px;
	}

@-webkit-keyframes rotatea {
  from {-webkit-transform:rotate(0deg) scale(1);

  }
  to {  -webkit-transform:rotate(360deg) scale(1.75);
}
}

@-moz-keyframes rotatea {
  from {-moz-transform:rotate(0deg) scale(1);
}
  to {  -moz-transform:rotate(360deg) scale(1.75);
}

}
#pixie {
  z-index:10;
  position: absolute;
  top: 0;
  left: 0;
}
.right-p2{
	margin-top:0;}
.three-div-subtitle2 {
    margin-bottom: 0px;
}
.three-div-subtitle {
    margin-bottom: 0;
}
.three-div-p {
    margin-top: 15px;
}
.one-div {
    width: 300px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.one-icon-png {
    width: 35%;
}
.color-button {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
	background: rgb(22,248,254);
    background: linear-gradient(
90deg, rgba(22,248,254,1) 0%, rgba(149,9,253,1) 100%);
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;	
}
.color-button:hover{
	background: #9509fd;
    background: linear-gradient(90deg, rgba(13,248,254,1) 0%, rgba(140,0,244,1) 100%);
}
.icon-p {
    text-align: center;
    overflow: hidden;
}
.social-icon {
    margin-right: 10px;
	opacity:0.8;
	transition:0.15s ease-in-out;
	cursor:pointer;
}
.social-icon:hover{
	opacity:1;}
.last-social-icon {
    margin-right: 0;
}
.social-icon img{
	width: 30px;
	}
@media all and (max-width: 1200px){	
.top-p {
    width: 80%;
	margin-top: 20px;}

.td2 {
    padding-top: 5px;
}

.first-table td {
    padding-bottom: 2px;
}
.left-cube {
    width: 60px;
}


}
@media all and (max-width: 1100px){	
.three-div-subtitle2 {
    min-height: 55px;
}
}
@media all and (max-width: 1000px){	

.td2 {
    padding-top: 7px;
}
.cube-img {
    width: 100px;
}
.table2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
	text-align-last:left;
	margin-bottom:20px;
}
.two2-div {
    width: 100% !important;
	text-align: center;
}
.clouds{
	opacity:0.2;}
.top-p {
    width: 90%;}
.below-h1-p {
    width: 80%;}
.table-subtitle {
    text-align: center;
}
.left-cube-div {
	    float: none;
    text-align: center;
    margin: 0 auto;
}
.title3 {
    text-align: center;
    padding-left: 0;
    margin: 0;
	margin-bottom: 20px
;}
.right-text-div1 {
    float: none;
    width: 100%;
}
.right-div {
    float: none;}
.table-div {
    padding-top: 0;}
}
@media all and (max-width: 900px){	
.left1-div {
    float: none;
    width: 100%;
    text-align: center;
}
.left1-img {
    width: 30%;
}
.second-div {
    margin-top: 20px;
	padding-top: 20px;}
.right1-div {
    float: none;
    width: 100%;
    text-align: center;
	margin-top:20px;
}
.first-table {
    width: 170px;
    text-align: left;
    margin: 0 auto;
}
.right-p {
    text-align: justify;
    text-align-last: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.third-div2 {
    display: block;}
.three-div-css {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 20px;
}
.icon-png {
    width: 25%;
}
.left-div {
    float: none;
    width: 100%;
    text-align: center;
}
.right-div {
    float: none;
    width: 60%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 20px;
    text-align-last: center;
}
.left-cube-div {
    width: 100%;
    float: none;
}
.right-text-div1 {
    float: none;
    width: 100%;
    text-align: center;
}
.title3 {
    text-align: center;
    margin-top: 10px;
	padding:0;
}
.three-div-subtitle2 {
    min-height:0;
}
.third-div3{
	display:inline-flex;}
.two-icon-png {
    width: 20%;
}
.five-div-css {
	margin-right: calc(2% - 5px);}
}
@media all and (max-width: 800px){	
.top-p {
    width: 100%;}
.left-cube {
    width: 40px;
}
.table2 {
    width: 100%;}
.two-div-css {
    padding: 10px;
}

.ow-stars2{
	background: black url(../img/rotate2.jpg) no-repeat;
	background-position: center;}
.p-size {
    font-size: 19px;
}
.subtitle-size {
    font-size: 26px;
}
.title-size {
    font-size: 24px;
}
.one-div {
    width: 100%;
}
.one-icon-png {
    width: 15%;
}
}
@media all and (max-width: 700px){	
.top-p {
	text-align:justify;
	text-align-last:center;}
.right-p {
    width: 100%;}
.cube-img {
    width: 85px;
}
.right-div {
    width: 80%;}
.two-icon-png {
    width: 20%;
}
.five-div-css{
	width:30%;
	margin-bottom:20px;
	 margin-right: calc(3.2% - 2px);}
.third-five-div, .last-five-div{
	margin-right:0;}
.second-div{
	margin-bottom:0;}

}
@media all and (max-width: 600px){	

.number-td {
    font-size: 19px;
}
.three-div-css {
    padding: 10px 15px;
}

.top-div {
background: linear-gradient( 
0deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 70%) 30%);
}
.top-p {
    color: black;
}
.one-icon-png {
    width: 20%;
}
}
@media all and (max-width: 500px){	
.three-div-css {
    width: 100%;}
.left1-img {
    width: 50%;
}
.right-div {
    width: 100%;}
.table-td-ul {
    padding-left: 20px;
}
.below-h1-p {
    width: 100%;}
.third-div3 {
    display: block;
}
.two-icon-png {
    width: 15%;
}

.logo-ani {
    margin-top: calc(50vh - 125px);
    width: 250px;
}
.p-size {
    font-size: 17px;
}
.subtitle-size {
    font-size: 24px;
}
.title-size {
    font-size: 22px;
}
.footer-p {
    font-size: 14px;}
.two-div-a {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}
.one-icon-png {
    width: 25%;
}
}
@media all and (max-width: 400px){	

.five-div-css {
    width: 47%;
	margin-right:calc(2.5% - 2px);}
.second-five-div, .four-five-div{
	margin-right:0;}
.icon-png, .two-icon-png, .one-icon-png {
    width: 35%;
}
}